USE [master]
GO
/****** Object:  Database [TestDatabase]    Script Date: 13/12/2023 3:33:04 am ******/
CREATE DATABASE [TestDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestDatabase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TestDatabase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestDatabase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TestDatabase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestDatabase]
GO
/****** Object:  Table [dbo].[ColorCoatTbl]    Script Date: 13/12/2023 3:33:04 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ColorCoatTbl](
	[ColorCoatID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ColorCoatTbl] PRIMARY KEY CLUSTERED 
(
	[ColorCoatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerTbl]    Script Date: 13/12/2023 3:33:04 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerTbl](
	[CustomerID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[ContactPerson] [nvarchar](50) NOT NULL,
	[TIN] [nvarchar](50) NOT NULL,
	[TelNo] [nvarchar](50) NOT NULL,
	[Establishment] [nvarchar](50) NOT NULL,
	[DelivAddress] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CustomerTbl] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemTbl]    Script Date: 13/12/2023 3:33:04 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemTbl](
	[ItemID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ItemTbl] PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesOrderTbl]    Script Date: 13/12/2023 3:33:04 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesOrderTbl](
	[SalesOrderID] [nvarchar](50) NOT NULL,
	[CustomerID] [nvarchar](50) NOT NULL,
	[ProdOrderID] [nvarchar](50) NOT NULL,
	[ItemID] [nvarchar](50) NOT NULL,
	[ItemDesc] [nvarchar](max) NOT NULL,
	[Qty] [int] NOT NULL,
	[ProdCompletionDate] [date] NOT NULL,
	[DelivCommitDate] [date] NOT NULL,
	[SalesReqDate] [date] NOT NULL,
	[ColorCoatID] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SalesOrderTbl] PRIMARY KEY CLUSTERED 
(
	[SalesOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ColorCoatTbl]    Script Date: 13/12/2023 3:33:04 am ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ColorCoatTbl] ON [dbo].[ColorCoatTbl]
(
	[ColorCoatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CustomerTbl]    Script Date: 13/12/2023 3:33:04 am ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_CustomerTbl] ON [dbo].[CustomerTbl]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CustomerTbl_1]    Script Date: 13/12/2023 3:33:04 am ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_CustomerTbl_1] ON [dbo].[CustomerTbl]
(
	[TIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ItemTbl]    Script Date: 13/12/2023 3:33:04 am ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ItemTbl] ON [dbo].[ItemTbl]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SalesOrderTbl]  WITH CHECK ADD  CONSTRAINT [FK_SalesOrderTbl_ColorCoatTbl] FOREIGN KEY([ColorCoatID])
REFERENCES [dbo].[ColorCoatTbl] ([ColorCoatID])
GO
ALTER TABLE [dbo].[SalesOrderTbl] CHECK CONSTRAINT [FK_SalesOrderTbl_ColorCoatTbl]
GO
ALTER TABLE [dbo].[SalesOrderTbl]  WITH CHECK ADD  CONSTRAINT [FK_SalesOrderTbl_CustomerTbl] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[CustomerTbl] ([CustomerID])
GO
ALTER TABLE [dbo].[SalesOrderTbl] CHECK CONSTRAINT [FK_SalesOrderTbl_CustomerTbl]
GO
ALTER TABLE [dbo].[SalesOrderTbl]  WITH CHECK ADD  CONSTRAINT [FK_SalesOrderTbl_ItemTbl] FOREIGN KEY([ItemID])
REFERENCES [dbo].[ItemTbl] ([ItemID])
GO
ALTER TABLE [dbo].[SalesOrderTbl] CHECK CONSTRAINT [FK_SalesOrderTbl_ItemTbl]
GO
USE [master]
GO
